<section id="map_properties">
    <header>Map Meta</header>
    <div class="content">
        <div class="flex spaced">
            <p>Tilesize</p>
            <p>16px</p>
        </div>
        <div class="flex spaced">
            <p>Rows x Columns</p>
            <p>1 x 1</p>
        </div>
        <div class="flex spaced">
            <p>Map Size</p>
            <p>16 x 16 px</p>
        </div>
    </div>
</section>

<section>
    <header>Layers</header>

    <div class="flex">
        <p>New</p>
        <p>Delete</p>        
    </div>

    <div class="layers">
        
    </div>

</section>