<div class="section">
  <div class="tabs">
    <h1>Physics Tiles</h1>
    <h1>Graphic Tiles</h1>
  </div>

  <div class="section" id = 'workspace_physics_tiles'>

  </div>

  <div class="section hidden" id = 'workspace_graphic_tiles'>

  </div>

</div>

<div class="section">
  <h1>Properties</h1>

  

</div>

<div class="section">
  <h1>Layers</h1>
  <div class="section" id = 'workspace_layers'>

  </div>
</div>
