<div class="timeline">
    <div class="controls">

        <div style="flex">
        <button id="btn-start" title="Go to first frame.">&#9199;</button>
        <button id="btn-prev" title="Previous frame.">&#9198;</button>
        <button id="btn-play" title="Play">&#9654;</button>
        <button id="btn-next" title="Next frame.">&#9197;</button>
        <button id="btn-end" title="Go to last frame.">&#9199;</button>
        </div>

        <div style="flex">
            <button id="btn-new-full" title="New frame from current.">&#9210;</button>
            <button id="btn-new-empty" title="New empty frame.">&odot;</button>
            <button id="btn-delete" title="Delete current frame">&#8855;</button>
        </div>
        
    </div>
    <div class="rail">
        <div class="segment template">
            <p class="frame-number" title="Duration 100ms">1</p>
            <p class="frame-cell" title="Frame cell number">1</p>
        </div>
    </div>
</div>