<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <link href = '/src/css/reset.css' rel="stylesheet">
    <link href = '/src/css/Silk.css' rel="stylesheet">
    <title>Silk Javascript IDE</title>
    <script type="text/javascript" src='/jquery'></script>
    <script type="text/javascript" src='/handlebars'></script>
    <script type="text/javascript" src='/src/js/ide.js'></script>
  </head>
  <body>
    {{{ body }}}
    <div class="overpane" id='overpane'>
      {{{ overpane }}}
    </div>
  </body>
</html>
