<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <link href = '/client/css/reset.css' rel="stylesheet">
    <link href = '/client/css/Silk.css' rel="stylesheet">
    <title>Silk Javascript IDE</title>
    <script type="text/javascript" src='/jquery'></script>
    <script type="text/javascript" src='/client/js/silk.index.js'></script>
  </head>
  <body>
    <header>
      <h1 class='logo menu'>Silk</h1>
      <div class="dropdown">
        <p>New Project</p>
        <p>Load Project</p>
        <p>Save Project</p>
      </div>
    </header>

    <div class="app">
      {{ > projectPanel }}
      {{{ body }}}
    </div>

    {{ > overPanel }}

  </body>
</html>
