:root{
  --soot: #252525;
  --ash: #555;
  --smoke: #777;
  --main-bg: #DEDEDE;
  --hilite: #EAEAEA;
  --shaded-bg: #D0D0D0;
}

body, html { width: 100%; height: 100%; }

body, .flexed, .pane {
  display: flex;
  flex-flow:  column nowrap;
  position: relative;
}

body {
  font-family: 'Karla', sans-serif;
  background: var(--main-bg);
  color: var(--ash);
  flex-flow: column nowrap;
  user-select: none;
}

p, h1, h2, h3, h4, h5, h6, button, input { padding: 6px; }

input, button {
  color: inherit;
  background: none; border: none;
  margin: 6px;
}

svg {
  border: 1px solid black;
  width: 800px;
  height: 480px;
  cursor: none;
  background: #333;
}


canvas {
  background: #888;
  background-image: linear-gradient(45deg, #A0A0A0 25%, transparent 25%), linear-gradient(-45deg, #A0A0A0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #A0A0A0 75%), linear-gradient(-45deg, transparent 75%, #A0A0A0 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

div.app {
  flex-flow: column nowrap;
}

div.folders {
  position: relative;
  overflow-y: auto;
  overflow-x: ellipse;
}

div.folders .content{
  flex-flow:  column nowrap;
}

div.folders.open .content {
  display: flex;
}

div.folder .header:hover {
  background: var(--smoke);
}

div.overpane {
  display: none;
  position: absolute;
  top:0; left:0; right:0; bottom:0;
  z-index: 10;
  background: rgba(0,0,0,0.25);
}

div.overpane.show {
  display: flex;
}

div.project {
  background: var(--ash);
  border-top: 1px solid var(--soot);
  position: relative;
  color: rgba(255,255,255,0.85 );
}

div.project .navigation {
  width: 300px;
  flex-flow: column nowrap;
  border-right: 1px solid var(--soot);
}

div.project .workspace {
  position: relative;
  display: flex; flex-flow: column nowrap;
}

div.prompt {
  position: absolute;
  top:50%; left: 50%;
  transform: translate(-50%, -50%);
  background: var(--ash);
  color: var(--main-bg );
  border-radius: 5px;
  min-width: 500px;
  display: flex; flex-flow: column nowrap;
}

div.prompt input {
  border-bottom: 1px solid var(--main-bg );
  flex:1;
}

div.prompt button {
  border-radius: 5px;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.25);
}

div.prompt button:hover {
  background: var(--smoke );
}

div.prompt button:active {
  position: relative;
  top: 2px;
}

div.taskbar {
  background: var(--soot);
  color: rgba(255, 255, 255, 0.85 );
}

div.taskbar .dropdown > .content {
  background: var(--soot);
}


.dropdown > .content {
  position: absolute;
  display: none;
  flex-flow: column nowrap;
  width: 250px;
  background: var(--shaded-bg);
  border-right: 2px solid var(--ash);
  border-bottom: 2px solid var(--ash);
  border-top: 2px solid var(--hilite );
  border-left: 2px solid var(--hilite );
  z-index: 1;
}

.dropdown { cursor: pointer;}

.dropdown.show > .content {
  display: flex;
}

.dropdown > .content div {
  display: flex;
  justify-content: space-between;
}

.dropdown > .content div:hover {
  background: var(--hilite);
}

.app, div.project .workspace, div.project {
  flex:1;
}

.line, div.project .navigation, div.project, div.app, .folder .header {
  display: flex;
}

.header {
  display: flex;
}
