:root {
  --dark: #201F1C;
  --dark-tab: #201F1C40;
  --borderColor: #050505;
}

body {
  background: var(--dark);
  color: #bd871a
}
.header {
  border-color: var(--borderColor);
}

.tabs p { background: var(--dark-tab); min-width: 80px;}
.tabs p.active { background: var(--dark);}

input, .user_interface {
  border-color: var(--borderColor);
}

.panel { background: var(--dark); }
