<div class="editor" id='character_ui'>

  <div class="editor_area">

    <div class="canvas_area">
      <canvas id="editor_canvas"></canvas>
      <div class="cells">
        <h1>Keyrames</h1>
        <div class="" id='keyframes'></div>
      </div>
    </div>

    <div class="timeline_area">
      <p>Timeline</p>
      <div class="rail"></div>
    </div>
  </div>

  <div class="interface_area">

    <div class="panel">
      <div class="line">
        <h1>Character Project:</h1>
        <h1 id='projectname'></h1>
      </div>
    </div>

    <!-- Loading in the character image -->
    <div class="panel">
      <h1>Character Image</h1>
      <div class="content">
        <div class="line">
          <p>source name:</p>
          <p id='imagename'></p>
        </div>
        <div class="line spaced">
          <div class="line">
            <p>Width(px):</p>
            <p id='cellwidth'></p>
          </div>
          <div class="line">
            <p>Height(px):</p>
            <p id='cellheight'></p>
          </div>
        </div>
        <button type="button" name="modify" id='modifyimage'>Modify</button>
      </div>
    </div>
    <!-- Adding a color pallete -->
    <div class="panel">
      <h1>Color Palettes</h1>
      <div class="content">

      </div>
    </div>
    <!--animation list -->
    <div class="panel">
      <h1>Animations</h1>
      <div class="content">

      </div>
    </div>
    <!--modifying frame data-->
    <div class="panel">
      <h1>Frame Data</h1>
      <div class="content">

      </div>
    </div>
  </div>

</div>
