<div class="form">

  <div class="pane">

    <form class="" id='importimage'>
      <div class="header">
        <h1>Import Image</h1>
      </div>

      <div class="line">
        <p>source</p> <input type="file" name="sourcefile" value="" autocomplete="off">
      </div>

      <div class="line">
        <input type="text" name="width" value="" placeholder="width(px)" pattern="[0-9]{1,5}">
        <input type="text" name="height" value="" placeholder="height(px)" pattern="[0-9]{1,5}">
      </div>

      <canvas id="output"></canvas>
      <div class="line spaced">
        <button type="submit" name="submit">Submit</button>
        <button type="button" name="cancel">Cancel</button>
      </div>
    </div>
    </form>


</div>
