<form class="" id='newprojectform'>

  <div class="line">
    <input type="text" name="projectname" value="" autocomplete="off" placeholder="Project Name" maxlength='26'>
    <button type="submit" name="button">Confirm</button>
  </div>


</form>
