<header class='dropdown'>
  <h1>Silk</h1>
  <div class="content mainmenu">
    <div class="" onclick="IDE.onNewProject( )">
      <p>New Project</p>
      <p>Alt+N</p>
    </div>
    <div class="" onclick="IDE.onLoadProject( )">
      <p>Load Project</p>
      <p>Alt+P</p>
    </div>
    <div class="" onclick="IDE.onSaveProject( )">
      <p>Save Project</p>
      <p>Alt+S</p>
    </div>
  </div>
</header>

<div class="app" id='app-body'>
  {{ application }}
</div>
